
<!-- Tabs navs -->
<ul class="nav nav-tabs nav-justified mb-3 " id="ex1" role="tablist">
    <li class="nav-item " role="presentation">
        <a
                class="nav-link active"
                id="najprodavanije-tab0"
                data-mdb-toggle="tab"
                href="#najprodavanije0"
                role="tab"
                aria-controls="najprodavanije"
                aria-selected="false"
                type="button"

        ><b>NAJPRODAVANIJE</b></a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
                class="nav-link"
                id="izdvojeno-tab0"
                data-mdb-toggle="tab"
                href="#izdvojeno0"
                role="tab"
                aria-controls="izdvojeno"
                aria-selected="false"
                type="button"

        ><b>IZDVOJENO</b></a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
                class="nav-link"
                id="akcija-tab0"
                data-mdb-toggle="tab"
                href="#akcija0"
                role="tab"
                aria-controls="akcija"
                aria-selected="false"
                type="button"

        ><b>USLUGE</b></a
        >
    </li>

    <li class="nav-item" role="presentation">
        <a
                class="nav-link"
                id="najnovije-tab0"
                data-mdb-toggle="tab"
                data-mdb-target="#najnovije0"
                role="tab"
                aria-controls="najnovije"
                aria-selected="false"
                type="button"
        >
            <b>AKCIJA</b>
        </a>
    </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
    <div
            class="tab-pane fade show active"
            id="najprodavanije0"
            role="tabpanel"
            aria-labelledby="najprodavanije-tab0"
    >
        <section class="text-center">
            <div class=" row ">
                <%- include('-card')%>
            </div>
        </section>
    </div>
    <div
            class="tab-pane fade"
            id="izdvojeno0"
            role="tabpanel"
            aria-labelledby="izdvojeno-tab0"
    >
        <section class="text-center">
            <div class=" row ">
                <%- include('-card_izdvojeni')%>
            </div>
        </section>
    </div>

    <div
            class="tab-pane fade"
            id="akcija0"
            role="tabpanel"
            aria-labelledby="akcija-tab0"
    >
        <section class="text-center">
            <div class=" row ">
                <%- include('-card')%>
            </div>
        </section>
    </div>
    <div
            class="tab-pane fade"
            id="najnovije0"
            role="tabpanel"
            aria-labelledby="najnovije-tab0"
    >
        <section class="text-center">
            <div class=" row ">
                <%- include('-card')%>
            </div>
        </section>
    </div>
</div>
<!-- Tabs content -->
<script>

</script>