<!DOCTYPE html>
<html lang="bs">
<head>
    <title> Kategorije </title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
</head>
<body>
<div>
    <div>
        <table
                id="myTable"
                data-toggle="table"
                data-toolbar="#toolbar"
                data-height="588"
        >
            <thead>
            <tr>
                <th class="h6" >Br.</th>
                <th data-field="name" class="h5">Naziv kategorije</th>
                <th class="h5"> Obriši/Dodaj kategoriju  </th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=-1; i<kategorije.length; i++) {%>
                <tr>
                    <%if (i===-1 ) { %>
                    <td class="id"> 0 </td>
                    <td class="h6">
                        <input type="text" class="form-control"  id="dodajkategorijuinput" value=""  placeholder="Naziv nove kategorije">
                    </td>
                    <td class="id">
                        <button class="btn btn-dark" id="dodajkategorijubtn" value=""  onclick="dodajKategoriju()"
                        > Dodaj </button>
                    </td>
                        <% } else { %>
                    <td class="id"> <%=i+1%> </td>
                    <td class="h6"> <%=kategorije[i].naziv%> </td>
                    <td class="id">
                        <button class="btn btn-outline-dark" id="button1" value="obrisi"  onclick="obrisi('<%=kategorije[i].naziv%>')"
                        > Obriši </button>
                    </td>
                </tr>
            <% }} %>

            </tbody>
        </table>
    </div>
</div>

<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
></script>
<script>


    function dodajKategoriju( ) {
        let naziv = document.getElementById("dodajkategorijuinput").value;
        console.log(naziv);
        let data = {};
        data.naziv = naziv;
            var request = {
                "url" : `/TalaShop/kategorija`,
                "method" : "POST",
                data : data
            }
            $.ajax(request).done(function(response){
                location.reload();
            })
    }

    function obrisi (id) {
        // var request = {
        //     "url" : `/TalaShop/kategorija/${id}`,
        //     "method" : "delete"
        // }
        // $.ajax(request).done(function(response){
        //     location.reload();
        // })
        confirm(` Brisanje kategorije ${id} može izazvati velike probleme na sistemu!`)
    }
</script>
</body>

</html>