<!DOCTYPE html>
<html lang="bs">
<head>
    <title> Kategorije </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body onload="funkcija('<%=JSON.stringify(prihodiMjesec)%>', '<%=JSON.stringify(prihodiGodina)%>' )">
<div class="row">
    <div class="col-5">
        <canvas id="myChart" width="40" height="40" ></canvas>
    </div>
    <div class="col-5">
        <canvas id="myChart2" width="40" height="40" ></canvas>
    </div>
</div>
<script  src="https://cdn.jsdelivr.net/npm/chart.js">
</script>

<script>

    function funkcija( objekat, objekat2 ) {
        objekat = JSON.parse(objekat);
        objekat2 = JSON.parse(objekat2);
        let labales = [], data = [];
        objekat.forEach(function(o) {
              labales.push(o._id);
              data.push(o.ukupno);
         });
        let labales2 = [], data2 = [];
        objekat2.forEach(function(o) {
              labales2.push(o._id);
              data2.push(o.ukupno);
         });

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labales,
                datasets: [{
                    label: 'Zadnji mjesec prihodi',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labales2,
                datasets: [{
                    label: 'Prihodi u prošloj godini',
                    data: data2,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

</script>
</body>

</html>