<style> 
    @keyframes blinker { 50% {
        opacity: 0;} }

    @media (min-width: 992px) {
        .col-md-3 {
            width: 24.85%;
        }
    }

</style>
<link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        rel="stylesheet"
/>
<div class="col-lg-3 col-md-3  pb-4" >
    <div class="card">
        <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m3-coupe-e30-subasta-1582304489.jpg?crop=1.00xw:0.752xh;0,0.160xh&resize=1200:*"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> BMW M3</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary  ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-3  pb-4">
    <div class="card">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Audi_80_B3_front_20081201.jpg"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> Audi a80</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3  pb-4" >
    <div class="card">
        <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m3-coupe-e30-subasta-1582304489.jpg?crop=1.00xw:0.752xh;0,0.160xh&resize=1200:*"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> BMW M3</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary  ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-3  pb-4">
    <div class="card">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Audi_80_B3_front_20081201.jpg"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> Audi a80</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3  pb-4" >
    <div class="card">
        <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m3-coupe-e30-subasta-1582304489.jpg?crop=1.00xw:0.752xh;0,0.160xh&resize=1200:*"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> BMW M3</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary  ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-3  pb-4">
    <div class="card">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Audi_80_B3_front_20081201.jpg"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> Audi a80</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3  pb-4" >
    <div class="card">
        <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m3-coupe-e30-subasta-1582304489.jpg?crop=1.00xw:0.752xh;0,0.160xh&resize=1200:*"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> BMW M3</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary  ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-3  pb-4">
    <div class="card">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Audi_80_B3_front_20081201.jpg"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> Audi a80</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3  pb-4" >
    <div class="card">
        <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m3-coupe-e30-subasta-1582304489.jpg?crop=1.00xw:0.752xh;0,0.160xh&resize=1200:*"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> BMW M3</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary  ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-3  pb-4">
    <div class="card">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Audi_80_B3_front_20081201.jpg"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> Audi a80</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3  pb-4" >
    <div class="card">
        <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m3-coupe-e30-subasta-1582304489.jpg?crop=1.00xw:0.752xh;0,0.160xh&resize=1200:*"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> BMW M3</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary  ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-3  pb-4">
    <div class="card">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Audi_80_B3_front_20081201.jpg"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> Audi a80</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3  pb-4" >
    <div class="card">
        <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m3-coupe-e30-subasta-1582304489.jpg?crop=1.00xw:0.752xh;0,0.160xh&resize=1200:*"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> BMW M3</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary  ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-3  pb-4">
    <div class="card">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Audi_80_B3_front_20081201.jpg"
                class="card-img-top"
                alt="Slika proizvoda" height="175px"
                style="object-fit: contain"/>


        <div class="card-body" style="padding-bottom: 5px">
            <h3 class="card-title" style="margin-top: 10px; margin-bottom:3px"> Audi a80</h3>
            <p class="card-text" style="margin-bottom: 3px">
                Automobili
            </p>
            <p style="margin-bottom: 3px">5.000<b> KM</b></p>
            <a href="#!" class="btn btn-primary ">
                Dodaj u korpu</a>
            <a href="#!" class="btn btn-danger mt-1"><i class="far fa-bookmark"></i></a>
        </div>
        <div  style="padding-bottom: 2px">
            <a href="#!" class="btn btn-outline-primary ">
                Vidi detaljno</a>
        </div>
        <div class=" card-footer text-muted">

            <div style="display: inline-block; float: left"  >
                <img src="https://www.novela.ba/shop/assets/img/look.svg" alt="aa"  width="20" height="15" >
                <span class="light color__dark--3">702</span>
            </div>
            <div style="display: inline-block; float: right" >
                <p style="width:80px; text-align: end; margin: 0%;"  >2 days ago</p>
            </div>
        </div>
    </div>
</div>