<article class="card-body p-2" style="height: 50vh">
                    <h3 class="title mb-0">Naslov proizvoda</h3>
                    <span> Objavio korisnik  <span><a>tala-coder</a></span>  prije 2 dana.</span>

                    <p class="price-detail-wrap mb-0 mt-3">
			<span class="price h3 text-warning">
				<span class="currency">199</span><span class="num"> KM</span>
			</span>
                    </p>
                    <span> <i>besplatna dostava</i> </span>
                    <dl class="item-property mt-2">
                        <dt>Opis</dt>
                        <dd>
                            <p>Here goes description consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco </p>
                        </dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Zemlja</dt>
                        <dd>Croatia</dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Grad</dt>
                        <dd>Split</dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Boja</dt>
                        <dd>Plava</dd>
                    </dl>

                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="param param-inline">
                                <dt>Količina: </dt> 
                                <dd>
                                    <select class="form-select  form-control-sm" aria-label="Default select example"  style="width:70px;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </dd>
                            </dl>  <!-- item-property .// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <a href="#" class="btn btn-lg btn-primary text-uppercase">Kupi </a>
                    <a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> dodaj u korpu </a>
                </article> <!-- card-body.// -->