<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/TalaShop">Tala<b style="color: #003399" >Shop</b></a>
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/TalaShop">Početna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/TalaShop">O nama</a>
                </li>

                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Proizvodi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Najprodavanije</a></li>
                        <li><a class="dropdown-item" href="#">Izdvojeno</a></li>
                        <li><a class="dropdown-item" href="#">Akcija</a></li>
                        <li><a class="dropdown-item" href="#">Najnovije</a></li>
                    </ul>
                </li>
                <form class="input-group w-auto my-auto d-none d-sm-flex ps-5">
                    <input
                            autocomplete="off"
                            type="search"
                            class="form-control rounded"
                            placeholder="Search"
                            style="min-width: 125px;"
                    />
                    <span class="input-group-text border-0 d-none d-lg-flex"
                    ><i class="fas fa-search"></i
                        ></span>
                </form>


            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <div class="d-flex align-items-center" >

            <% if (user) { %>
                 <a> Dobro došli, <%= user %></a>

                <!-- Korpa -->
                <a class="text-reset me-3 ms-3" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <!-- Poruke -->
                <a
                        class="text-reset me-3  hidden-arrow"
                        href="#"
                >
                    <i class="fas fa-comments fa-lg"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <!-- Notifikacije -->
                <a
                        class="text-reset me-2 dropdown-toggle hidden-arrow"
                        href="#"
                >
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">2</span>
                </a>

                <a style="color: #35353a"
                   class="nav-link dropdown-toggle "
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false"
                >
                    <i class="fas fa-user" ></i>
                </a>
                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink"
                >
                    <li>
                        <a class="dropdown-item" href="/TalaShop/korisnik/<%=userId%>">Moj profil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/TalaShop/proizvod/">Objavi artikl</a>
                    </li>
                    <li>

                        <form id="form1"  method="put">
<!--//TODO: staviti link proizvoda-->
                            <a class="dropdown-item" href="/TalaShop/proizvod/productID " onclick="document.getElementById('form1').submit();"> Postavke </a>

                            <input type="hidden" name="mess" value=Postavke/>
                        </form>

<!--                        <a class="dropdown-item" href="/TalaShop/korisnik/<%=userId%>">Postavke</a>-->
                    </li>
                    <li> <a class="dropdown-item" href="/TalaShop/logout">Odjavite se</a> </li>
                </ul>
            <% } else { %>
                <div class="d-flex align-items-center" >
                        <a class="btn btn-link text-dark mt-1 mb-1 me-2" href="/TalaShop/korisnik/login">prijava</a>
                        <a class="btn btn-primary mt-1 mb-1"  href="/TalaShop/korisnik/register" >REGISTRUJTE SE</a>
                </div>
            <% } %>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>

<!-- Navbar -->