<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
    />
    <style>

    </style>
</head>

<div class="row pb-3 pt-3 m-0 p-0" style="background-color: #eee;">
    <!-- Navbar -->
        <%-include('./include/_navBarnew')%>
    <!-- Navbar -->
    <div class="container pt-2">

        <div class="row">
            <div class="col-lg-3 pe-0">
                <div class="card mb-2">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">purak718</h5>

                         <p class="text-muted mb-1"> Malina d.o.o.</p>
                        <p class="text-muted mb-1">Željezno Polje, Žepče, Bosna i Hercegovina</p>
                        <p class="text-muted mb-4">(032) 556-578</p>

                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary ms-1">Poruka</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 ">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">

                            <li class="list-group-item d-flex justify-content-center align-items-center">
                                <span class="badge badge-pill badge-primary ">157</span>
                                <span class="ps-3"> Prodatih artikala </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-center align-items-center p-3">
                                <span class="badge badge-pill badge-primary ">157</span>
                                <span class="ps-3"> Broj pregleda </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-center align-items-center p-3">
                                <span class="badge badge-pill badge-primary ">157</span>
                                <span class="ps-3"> Prodatih artikala </span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-body">
                        <%-include('./include/_tabMenuKorisnik')%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<body>
</body>

 <script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js">
 </script>
</html>