<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>

    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
    />
<style>
    .intro {
        height: 100%;
    }

    .gradient-custom {
        /* fallback for old browsers */
        background: #003399;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, #003399, rgba(86, 127, 208, 0.65));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, #003399, #5881d2)
    }
</style>
</head>
<section class="intro" style="height: 90vh">
    <div class="mask d-flex align-items-center  gradient-custom" >
        <div class="container"  >
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-7" >
                    <div class="card">
                        <div class="card-body  ">
                            <h3 class="mb-4 pb-2">Registracija trgovca</h3>

                            <form action="" >

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="naziv" name="naziv" value=""  class="form-control" />
                                            <label class="form-label"  for="naziv">Naziv firme</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="adresa" class="form-control" name="adresa" value="" />
                                            <label class="form-label"  for="adresa">Adresa</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="grad" name="grad" value="" class="form-control" />
                                            <label class="form-label"  for="mail">Grad</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="država" class="form-control" name="država" value=""  />
                                            <label class="form-label" for="država">Država</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="email" id="mail" class="form-control" name="mail" value=""  />
                                            <label class="form-label" for="mail">Email</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="tel" id="phoneNumber" name="Prezime" value="" class="form-control" />
                                            <label class="form-label" for="Prezime">Telefon</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="password" name="passwordHash" value="" id="passwordHash" class="form-control" />
                                            <label class="form-label" for="passwordHash">Šifra</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="password" class="form-control" />
                                            <label class="form-label" >Potvrdi šifru</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-outline">
                                    <textarea class="form-control" name="poslovnice" value="" id="poslovnice" rows="2"></textarea>
                                    <label class="form-label" for="poslovnice">Unesite adrese ostalih poslovnica</label>
                                </div>

                                <div>
                                    <label for="form-check" class="form-label">Kategorije:</label> <br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="interes1" value="option1" />
                                        <label class="form-check-label" for="interes1">Auta</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="interes2" value="option2" />
                                        <label class="form-check-label" for="interes2">Parfemi</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="interes3" value="option1" />
                                        <label class="form-check-label" for="interes3">Nekretnine</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="interes4" value="option2" />
                                        <label class="form-check-label" for="interes4">IT oprema</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="interes5" value="option1" />
                                        <label class="form-check-label" for="interes5">Odjeća</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="interes6" value="option2" />
                                        <label class="form-check-label" for="interes6">Cvijeće</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="interes7" value="option1" />
                                        <label class="form-check-label" for="interes7">Literatura</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="interes8" value="option2" />
                                        <label class="form-check-label" for="interes8">Nakit i satovi</label>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-12">


                                        <div class="mt-4">
                                            <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<body>
</body>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
></script>
</html>

