<!DOCTYPE html>
<html lang="bs">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>

  </head>
  <body>
    <h1> </h1>
    Chat App

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('poruka', (mess) =>{
      console.log(mess)
    })

  </script>
</html>


<!--
// tut 5.ejs
<button id="increment"> +1 </button>

    socket.on('countUpdated', (count) => {
      console.log('The count has been updated!', count)
    })

    document.querySelector('#increment').addEventListener('click', () => {
      console.log('Clicked')
      socket.emit('increment')
    })

-->

<!--
// tut 5.ejs
<form id="message-form">
      <input name="message" placeholder="Message">
      <button>Send</button>
    </form>

socket.on('poruka', (mess) =>{
      console.log(mess)
    })


    document.querySelector('#message-form').addEventListener('submit', (e) => {
      e.preventDefault()

      const message = e.target.elements.message.value

      socket.emit('posaljiPoruku', message)
    })
-->