<!DOCTYPE html>
<html lang="bs">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>

  </head>
  <body>
    <h1> </h1>
    <p>Welcome to test</p>
  <button id="increment"> +1 </button>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>

    const socket = io()


  </script>
</html>


<!--

-->